<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="static/stylesheet.css"/>

</head>
<body>
     <form class="input" action="/createaccnt" method="post">
         <label class="label"> First Name </label>
        <input type="text" name="fname"/>
         <label class="label"> Last Name </label>
        <input type="text" name="lname"/>
         <label class="label" > Email </label>
        <input type="text" name="email"/>
         <label class="label" > User Name </label>
        <input type="text" name="uname"/>
         <label class="label"> Password </label>
        <input type="password" name="password">
        <input type="submit" value="Create Account"/>
</body>
</html>